template(name="showMovie")
	.col-xs-12
		+searchForm
		h2 Film : #{title}
		.col-xs-4
			img(src="#{image}")
		.col-xs-8
			table.table
				tbody
					tr
						th Date de sortie : 
						td #{realisationDate}
					tr
						th Réalisé par : 
						td #{director}
					tr
						th Catégorie : 
						td #{categoryId}
		p #{description}